:root {
	--primary-color: #6495ed;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}
.container {
	max-width: 1024px;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	body {
		font-size: 14px;
		line-height: 1.4;
		/* 기타 모바일 화면용 폰트 스타일 속성 추가 */
		.container {
			flex-direction: column;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.what p,
	.contact p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		font-size: 16px;
		line-height: 1.5;
		/* 기타 태블릿 화면용 폰트 스타일 속성 추가 */
		.container {
			flex-direction: column; /* 태블릿 화면에서 세로로 쌓이도록 변경 */
		}
	}
	img {
		max-width: none;
		/* 기타 스타일 속성 추가 */
	}
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 18px;
		line-height: 1.6;
		/* 기타 PC 화면용 폰트 스타일 속성 추가 */
		.container {
			flex-direction: row; /* PC 화면에서 다시 가로로 정렬 */
		}
	}
	.what p,
	.contact p {
		white-space: normal; /* PC 화면에서는 텍스트 줄바꿈을 허용 */
		overflow: visible;
		text-overflow: clip;
	}
}
